/* Header && Start Game styling */
body {
  font-family: sans-serif;
}


.header {
  width: 100vw;
  text-align: center;
  }

  h1::after {content: "|"; animation: blink 1s infinite;}

h1 {
  font-size: 3.5rem;
}

  @keyframes blink {
    50% {
      opacity: 0;
    }
    
  }

  
.start-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  min-height: 100vh;
  background: linear-gradient(to bottom right, #7e22ce, #4338ca);
  color: white;
  padding: 2rem;
  text-align: left;
  font-family: 'Arial', sans-serif;
}

.rules-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.rules {
  font-size: 1.2rem;
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
}

.rules li {
  margin: 0.5rem 0;
}

h3 {
  margin-bottom:0 ;
  font-weight: bold;
}

.start-button {
  background-color: #facc15; 
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;

  opacity: 0;
  animation: popIn 2.3s ease forwards;
  animation-delay: 2s;

}

@keyframes popIn {
  to {
    opacity: 1;
    /* transform: scale(1); */
  }
  
}

.start-button:hover {
  background-color: #fde047; 
  transform: scale(1.05);
}


.rules li {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.3s ease forwards;
}

.rules li:nth-child(1) { animation-delay: 0.3s; }
.rules li:nth-child(2) { animation-delay: 0.6s; }
.rules li:nth-child(3) { animation-delay: 0.9s; }
.rules li:nth-child(4) { animation-delay: 1.2s; }
.rules li:nth-child(5) { animation-delay: 1.5s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: scroll;
  background: linear-gradient(120deg, #89f7fe, #66a6ff);
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);}

h3 {
  font-size: 5rem;
  
}

.countdown-timer {
  font-size: 4rem;
  font-style: bold;
}


/* Card Styling */
.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  background: linear-gradient(135deg, #f6d365, #fda085);
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #4338ca;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card:hover{
  transform: scale(1.1);
  cursor: pointer;
  transform: translateY(-6px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: 50%;
  gap: 1.2rem;
  margin: 0 auto;
  padding: 1rem;
}


/* Matched Cards */
.match {
  background: lightgreen;
}